<app-header></app-header>

<main>
  <h1>Interior Designing</h1>
  <div class="main-container">
    <img
      src="../../assets/image/1541589247-0 1.png"
      alt="Image Preview"
      class="images"
    />
  </div>
  <div class="container">
    <div class="description">
      <h2>About this Service</h2>

      <p>
        Your next step is to start searching our Influencer database for your
        perfect Influencer, and start posting jobs! There are so many ways we
        make sure your campaign is a massive success inside our platform. Also,
        make sure to check out how you can Hire The Influence Group to find your
        perfect influencer for you! Your next step is to start searching our
        Influencer database for your perfect Influencer, and start posting jobs!
        There are so many ways we make sure your campaign is a massive success
        inside our platform. Also, make sure to check out how you can Hire The
        Influence Group to find your perfect influencer for you!
      </p>
      <p>
        Your next step is to start searching our Influencer database for your
        perfect Influencer, and start posting jobs! There are so many ways we
        make sure your campaign is a massive success inside our platform. Also,
        make sure to check out how you can Hire The Influence Group to find your
        perfect influencer for you! Your next step is to start searching our
        Influencer database for your perfect Influencer, and start posting jobs!
        There are so many ways we make sure your campaign is a massive success
        inside our platform. Also, make sure to check out how you can Hire The
        Influence Group to find your perfect influencer for you!
      </p>

      <button class="brand-btn">Book Now</button>
    </div>
  </div>
</main>

<app-footer></app-footer>
<loader *ngIf="showLoader"></loader>
