main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.main-container {
  display: flex;
  //   flex-wrap: wrap;
  gap: 50px;
}

app-sidebar {
  width: 200px;
  height: auto;
  background-color: orange;
}

ol:nth-child(even) {
  background-color: aquamarine;
  padding: 20px;
}

ol:nth-child(odd) {
  background-color: aqua;
  padding: 20px;
}
