<main class="container-fluid">
  <div class="title-container">
    <div class="title-btn">
      <div style="display: flex; flex-direction: column; gap: 20px">
        <div style="display: flex; gap: 20px">
          <img
            src="../../../assets/image/image 3.png"
            alt="user Image"
            style="border-radius: 10px; width: 15%"
          />
          <div>
            <h4 class="h4-t">Service Name</h4>
            <p
              style="
                font-family: 'Open Sans';
                font-size: 22px;
                font-weight: 400;
                color: #0e1b1b;
              "
            >
              Interior Designing
            </p>
          </div>
        </div>
      </div>
      <div class="">
        <h2
          style="
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            font-family: 'Open Sans';
          "
        >
          $15,0000
        </h2>
        <div style="display: flex; gap: 10px">
          <p style="font-family: 'Open Sans'; font-size: 16px">Status</p>
          <p
            style="
              font-family: 'Open Sans';
              font-size: 14px;
              background-color: #0c8ed7;
              border-radius: 20px;
              color: #fff;
              padding: 5px;
            "
          >
            In Progress
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<form [formGroup]="deliverOrder" (ngSubmit)="submitOrder()">
  <label class="custum-file-upload" for="file">
    <div class="icon">
      <img
        *ngIf="!deliverOrder.get('deliveryImage')?.value"
        [src]="imageUrl"
        alt=""
      />
      <img
        *ngIf="deliverOrder.get('deliveryImage')?.value"
        [src]="imageUrl"
        alt="Uploaded Image"
        width="30%"
      />
    </div>
    <div class="text">
      <span style="text-align: center"
        >Drag your documents, photos, or videos here to <br />
        start uploading</span
      >
    </div>
    <input
      type="file"
      id="file"
      formControlName="deliveryImage"
      (change)="onFileChange($event)"
    />
  </label>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="deliveryDetails"></textarea>
    </mat-form-field>
  </div>

  <button class="brand-btn">Submit</button>
</form>
