main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about-us__title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

.img-desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.decription {
  display: flex;
  flex-direction: column;
  width: 500px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

:host {
  display: contents;
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  width: 100%;
  height: 545px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.home-container2 {
  top: 20px;
  flex: 0 0 auto;
  right: 150px;
  width: 497px;
  height: 360px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-image {
  background-image: url("../../assets/image/client_images.png");
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-72px, -16px);
  z-index: -1;
  position: relative;
}
.home-container3 {
  flex: 0 0 auto;
  width: 509px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container4 {
  flex: 0 0 auto;
  width: 509px;
  height: 356px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-form {
  top: 0px;
  left: 0px;
  width: 540px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 2px solid #ffa500;
  border-left: 2px solid #ffa500;
  border-right: 2px solid #ffa500;
}
.home-textinput {
  top: 14px;
  left: 28px;
  width: 214px;
  height: 54px;
  position: absolute;
  padding-bottom: 0px;
}
.home-textinput1 {
  top: 90px;
  left: 28px;
  width: 214px;
  height: 54px;
  position: absolute;
  padding-bottom: 0px;
}
.home-textinput2 {
  top: 90px;
  left: 261px;
  width: 214px;
  height: 54px;
  position: absolute;
  padding-bottom: 0px;
}

.brand-btn {
  background-color: #ff9000;
  color: #fff;
  border: 1px solid #ff9000;
  text-decoration: #fff underline;
  padding: 12px 30px;
  font-weight: 500;
  margin-top: 20px;
  height: max-content;
}

.brand-btn:hover {
  background-color: #fff;
  color: #ff9000;
  text-decoration: #ff9000 underline;
}

.home-textinput3 {
  top: 14px;
  left: 261px;
  width: 214px;
  height: 54px;
  position: absolute;
  padding-bottom: 0px;
}
.home-textarea {
  top: 165px;
  left: 27px;
  width: 454px;
  height: 137px;
  position: absolute;
}
.home-button {
  left: 26px;
  bottom: 10px;
  position: relative;
}

.form_area {
  position: relative;
}
.form_inner {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  z-index: 999;
  position: relative;
}
.form_fields {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 22px;
  grid-column: 2;
}
.item5 {
  grid-column: 1 / span 2;
}
.form_area .after_class {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ffa500;
  position: absolute;
  top: 15px;
  left: -15px;
}
@media (max-width: 550px) {
  .decription {
    width: fit-content;
  }
}
