<app-header></app-header>
<main>
  <div class="main-container">
    <h1 class="about-us__title">About Us</h1>
    <p
      style="
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
      "
      class="text-break"
    >
      Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus
      ultricies velit
    </p>
    <div class="img-desc">
      <img
        src="../../assets/image/Rectangle 8.png"
        alt="About Us"
        style="width: 40%; height: auto"
      />
      <div class="decription">
        <p>
          Join as a Brand or Join as an Influencer and enjoy the benefits of
          quickly collaborating on top projects.
        </p>
        <p>
          Follow the easy steps after you sign up to create a unique profile
          that will attract our Brands and Influencers to what you have to
          offer!
        </p>
        <p>
          Your next step is to start searching our Influencer database for your
          perfect Influencer, and start posting jobs! There are so many ways we
          make sure your campaign is a massive success inside our platform.
          Also, make sure to check out how you can Hire The Influence Group to
          find your perfect influencer for you!
        </p>
        <p>
          Your next step is to complete your profile as much as possible! Answer
          all of the questions, create a captivating unique Bio, highlight your
          following and your successes, upload an Intro video to introduce you
          to our brands! And make sure to upload other images and videos that
          highlight you and make you stand out to our brands!
        </p>
        <p>
          Join as a Brand or Join as an Influencer and enjoy the benefits of
          quickly collaborating on top projects.
        </p>
        <p>
          Follow the easy steps after you sign up to create a unique profile
          that will attract our Brands and Influencers to what you have to
          offer!
        </p>
        <p>
          Join as a Brand or Join as an Influencer and enjoy the benefits of
          quickly collaborating on top projects.
        </p>
        <p>
          Follow the easy steps after you sign up to create a unique profile
          that will attract our Brands and Influencers to what you have to
          offer!
        </p>
      </div>
    </div>
  </div>
</main>
<section>
  <div class="section-container">
    <h1 class="about-us__title">Contact Us</h1>
  </div>
  <div class="home-container">
    <div class="home-container1">
      <div class="home-container2">
        <img
          src="../../assets/image/client_images.png"
          alt="image"
          class="home-image"
        />
      </div>
      <div class="home-container3">
        <div class="home-container4">
          <form class="home-form">
            <mat-form-field appearance="outline" class="home-textinput">
              <mat-label>First Name</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="home-textinput1">
              <mat-label>First Name</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="home-textinput2">
              <mat-label>First Name</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="home-textinput3">
              <mat-label>First Name</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <textarea
              placeholder="placeholder"
              class="home-textarea textarea"
            ></textarea>
            <button type="button" class="home-button button">Button</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
