main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  border: 2px solid #d9d9d9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.main-container {
  display: flex;
  //   flex-wrap: wrap;
  gap: 50px;
}

app-sidebar {
  width: 200px;
  height: auto;
  background-color: orange;
}

.one-time__btn {
  background-color: rgb(255, 255, 255);
  color: #a1a1a1;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}

.border-setting {
  border-radius: 0%;
  background-color: #fff;
  color: #a1a1a1;
}

.nav-link {
  border: 1px solid #a1a1a1;
}

.recurring-btn {
  color: #a1a1a1;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}
