<div class="home-container">
  <div class="home-gallery">
    <div class="home-container01">
      <div class="home-container02">
        <h1 class="home-text">Project Title</h1>
        <span class="home-text01"><span>Lorem ipsum dolor sit amet</span></span>
      </div>
    </div>
    <div class="home-container03">
      <div class="home-container04">
        <h1 class="home-text03">Project Title</h1>
        <span class="home-text04"><span>Lorem ipsum dolor sit amet</span></span>
      </div>
    </div>
    <div class="home-container05">
      <div class="home-container06">
        <h1 class="home-text06">Project Title</h1>
        <span class="home-text07"><span>Lorem ipsum dolor sit amet</span></span>
      </div>
    </div>
    <div class="home-container07">
      <div class="home-container08">
        <h1 class="home-text09">Project Title</h1>
        <span class="home-text10"><span>Lorem ipsum dolor sit amet</span></span>
      </div>
    </div>
    <div class="home-container09">
      <div class="home-container10">
        <h1 class="home-text12">Project Title</h1>
        <span class="home-text13"><span>Lorem ipsum dolor sit amet</span></span>
      </div>
    </div>
    <div class="home-container11">
      <div class="home-container12">
        <h1 class="home-text15">Project Title</h1>
        <span class="home-text16"><span>Lorem ipsum dolor sit amet</span></span>
      </div>
    </div>
  </div>
</div>
