:host {
  display: contents;
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}
.home-gallery {
  width: 100%;
  height: 500px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d" "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  background-image: url("../../assets/image/image\ 12.png");
  background-position: center;
}
.home-container01:hover {
  transform: scale(0.98);
}
.home-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text01 {
  color: white;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  background-image: url("../../assets/image/image\ 8.png");
  background-position: center;
}
.home-container03:hover {
  transform: scale(0.98);
}
.home-container04 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-text03 {
 color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text04 {
  color: white;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  background-image: url("../../assets/image/image\ 14.png");
  background-position: center;
}
.home-container05:hover {
  transform: scale(0.98);
}
.home-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.home-text06 {
color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text07 {
color: white;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  background-image: url("../../assets/image/image\ 6.png");
  background-position: center;
}
.home-container07:hover {
  transform: scale(0.98);
}
.home-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-text09 {
color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text10 {
color: white;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  background-image: url("../../assets/image/image\ 13.png");
  background-position: center;
}
.home-container09:hover {
  transform: scale(0.98);
}
.home-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-text12 {
color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text13 {
color: white;
  margin-top: var(--dl-space-space-halfunit);
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  background-image: url("../../assets/image/image\ 15.png");
  background-position: center;
}
.home-container11:hover {
  transform: scale(0.98);
}
.home-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-text15 {
color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text16 {
color: white;
  margin-top: var(--dl-space-space-halfunit);
}
@media (max-width: 991px) {
  .home-gallery {
    grid-gap: var(--dl-space-space-unit);
  }
  .home-text {
    
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-text03 {
    text-align: center;
  }
  .home-text04 {
    text-align: center;
  }
  .home-text06 {
    text-align: center;
  }
  .home-text07 {
    text-align: center;
  }
  .home-text09 {
    text-align: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text12 {
    text-align: center;
  }
  .home-text13 {
    text-align: center;
  }
  .home-text15 {
    text-align: center;
  }
  .home-text16 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .home-gallery {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .home-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
}



/* Add the following styles for the text overlay */
.home-container01:hover .home-container02,
.home-container03:hover .home-container04,
.home-container05:hover .home-container06,
.home-container07:hover .home-container08,
.home-container09:hover .home-container10,
.home-container11:hover .home-container12 {
  background-color: rgba(0, 0, 0, 0.521); /* Set the background color with 50% opacity */
  border-radius: 20px;
  color: #ffffff00;
}


/* Adjust the opacity and position of the text overlay on hover */
.home-container01:hover .home-container02,
.home-container03:hover .home-container04,
.home-container05:hover .home-container06,
.home-container07:hover .home-container08,
.home-container09:hover .home-container10,
.home-container11:hover .home-container12,
.home-container01:hover .home-text,
.home-container03:hover .home-text03,
.home-container05:hover .home-text06,
.home-container07:hover .home-text09,
.home-container09:hover .home-text12,
.home-container11:hover .home-text15,
.home-container01:hover .home-text01,
.home-container03:hover .home-text04,
.home-container05:hover .home-text07,
.home-container07:hover .home-text10,
.home-container09:hover .home-text13,
.home-container11:hover .home-text16 {
  opacity: 1; /* Set opacity to 1 on hover */
}

.home-container02 {
    color: #ffffff00;
}

.home-container02:hover {
    color: #fff;
}