<app-header> </app-header>

<main>
  <div class="main-container">
    <h3 class="h3-h text-center">Total Payment</h3>
    <div class="total-rate__container">
      <div class="title-rate">
        <h3 class="h3-h" style="color: #ff9000">Rs 15,000</h3>
        <p>Total Earning</p>
      </div>
      <div class="title-rate">
        <h3 class="h3-h" style="color: #ff9000">Rs 5,000</h3>
        <p>Earning in June</p>
      </div>
    </div>
    <button class="brand-btn" (click)="openDialog()">Add Payment</button>
  </div>
</main>
<app-footer></app-footer>
