main {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

.brand-btn {
  background-color: #ff9000;
  color: #fff;
  border: 1px solid #ff9000;
  text-decoration: #fff underline;
  padding: 12px 30px;
  font-weight: 500;
  width: fit-content;
  height: max-content;
}

.brand-btn:hover {
  background-color: #fff;
  color: #ff9000;
  text-decoration: #ff9000 underline;
}

.h3-h {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  color: #000;
}

.total-rate__container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  width: 500px;
}

.title-rate {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 530px) {
  .total-rate__container {
    width: fit-content;
  }
}
