<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="margin-left: -12px">
            <i class="fas fa-gem me-3"></i
            ><img src=".././../assets/image/hat-white.png" alt="" />
            <img src=".././../assets/image/title.png" alt="" />
          </h6>
          <div class="social-title">
            <div class="title-f">
              <p>facebook</p>
              <p>Instagram</p>
              <p>Linkedin</p>
              <p>Pinterest</p>
            </div>
            <p style="margin-top: 20px; margin-bottom: 20px">
              Subcribe to our Newsletter!
            </p>
            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input matInput type="email" />
              <mat-icon matSuffix type="button"> call_made</mat-icon>
            </mat-form-field>
            <p style="margin-top: 20px; margin-bottom: 20px">
              &copy; 2020 TheLogo. All Right reserved
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-4"
            style="font-size: 16px; font-weight: 600; font-family: 'Open Sans'"
          >
            Quick Links
          </h6>
          <p>
            <a href="#!" class="text-reset">Become a Seller</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Find Service</a>
          </p>
          <p>
            <a href="#!" class="text-reset">About Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Engineering Services</a>
          </p>
          <p style="margin-top: 50px">Terms of Service</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-4"
            style="font-size: 16px; font-weight: 600; font-family: 'Open Sans'"
          >
            Newz
          </h6>
          <p>
            <a href="#!" class="text-reset">Blog</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help & Support</a>
          </p>
          <p style="margin-top: 85px">Privacy</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-4"
            style="font-size: 16px; font-weight: 600; font-family: 'Open Sans'"
          >
            Contact
          </h6>
          <p>Email</p>
          <p>Address</p>
          <p>Phone num</p>
          <div
            style="display: flex; gap: 20px; flex-wrap: wrap; margin-top: 85px"
          >
            <p>Cookie Policy</p>
            <p>Language</p>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div> -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
<router-outlet></router-outlet>
