<app-header></app-header>
<div class="bg-image">
  <div class="main-container">
    <h1
      class="h1-online-eng__title"
      style="
        font-family: Playfair Display;
        font-size: 4rem;
        line-height: 70px;
        width: min-content;
      "
    >
      Online Engineering Marketplace
    </h1>
    <div class="input-group">
      <input
        type="email"
        class="input"
        id="Email"
        name="Email"
        placeholder="Find Service"
        autocomplete="off"
      />
      <input class="button--submit" value="Search" type="submit" />
    </div>
    <div class="mat-chip__container">
      <mat-chip-list #chipGrid class="mat-chip">
        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{ fruit.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          matChipInput
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
          placeholder="Enter New Service"
          *ngIf="inputVisible"
        />
        <mat-icon *ngIf="!inputVisible" (click)="showInput()"
          >add_circle</mat-icon
        >

        <!-- Cross icon when input is visible -->
        <mat-icon *ngIf="inputVisible" (click)="hideInput()">cancel</mat-icon>
      </mat-chip-list>
    </div>
  </div>
</div>
<div class="find-container">
  <p style="font-family: Playfair Display; font-size: 2rem; line-height: 40px">
    Find the best online engineering <br />
    services & be a part of marketplace
  </p>
  <div style="display: flex; gap: 20px">
    <button class="find-btn">Find Architect</button>
    <button class="brand-btn">Become Brand</button>
  </div>
</div>

<div class="categories-container">
  <p
    style="
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      line-height: 40px;
      font-weight: bold;
      text-align: center;
    "
  >
    Our Top Categories
  </p>
  <div class="picture-side_bar">
    <div class="side-bar">
      <ul>
        <li class="categ-link">&nbsp;&nbsp;All Categories</li>
        <li class="categ-link">&nbsp;&nbsp;Solution Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;AWS Arch slide</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk 3ds Max</li>
        <li class="categ-link">&nbsp;&nbsp;3D Modelers</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk Maya Specialists</li>
        <li class="categ-link">&nbsp;&nbsp;Lumion</li>
        <li class="categ-link">&nbsp;&nbsp;Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk Architecture</li>
        <li class="categ-link">&nbsp;&nbsp;3D Modelers</li>
        <li class="categ-link">&nbsp;&nbsp;Planning and design</li>
      </ul>
    </div>
    <div class="images-container">
      <div class="image1">
        <div class="container">
          <img
            src=".././../assets/image/image 8.png"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
          <div class="middle">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni,
            </div>
          </div>
        </div>
      </div>
      <div class="image1">
        <div class="container">
          <img
            src=".././../assets/image/image 8.png"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
          <div class="middle">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni,
            </div>
          </div>
        </div>
      </div>
      <div class="image1">
        <div class="container">
          <img
            src=".././../assets/image/image 8.png"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
          <div class="middle">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni,
            </div>
          </div>
        </div>
      </div>
      <div class="image1">
        <div class="container">
          <img
            src=".././../assets/image/image 8.png"
            alt="Avatar"
            class="image"
            style="width: 100%"
          />
          <div class="middle">
            <div class="text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni,
            </div>
          </div>
        </div>
      </div>
      <button class="brand-btn">More</button>
    </div>
  </div>
</div>
