<app-header></app-header>
<div class="bg-image">
  <div class="main-container">
    <h1
      class="h1-online-eng__title"
      style="
        font-family: Playfair Display;
        font-size: 4rem;
        line-height: 70px;
        width: min-content;
      "
    >
      Online Engineering Marketplace
    </h1>
    <div class="input-group">
      <input
        type="email"
        class="input"
        id="Email"
        name="Email"
        placeholder="Find Service"
        autocomplete="off"
      />
      <input class="button--submit" value="Search" type="submit" />
    </div>
    <div class="mat-chip__container">
      <mat-chip-list #chipGrid class="mat-chip">
        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{ fruit.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          matChipInput
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
          placeholder="Enter New Service"
          *ngIf="inputVisible"
        />
        <mat-icon *ngIf="!inputVisible" (click)="showInput()"
          >add_circle</mat-icon
        >
        <mat-icon *ngIf="inputVisible" (click)="hideInput()">cancel</mat-icon>
      </mat-chip-list>
    </div>
  </div>
</div>
<div class="find-container">
  <p style="font-family: Playfair Display; font-size: 2rem; line-height: 40px">
    Find the best online engineering <br />
    services & be a part of marketplace
  </p>
  <div style="display: flex; gap: 20px">
    <button class="find-btn">Find Architect</button>
    <button class="brand-btn">Become Brand</button>
  </div>
</div>

<div class="categories-container">
  <p
    style="
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      line-height: 40px;
      font-weight: bold;
      text-align: center;
    "
  >
    Our Top Categories
  </p>
  <div class="picture-side_bar">
    <div class="side-bar">
      <ul>
        <li class="categ-link">&nbsp;&nbsp;All Categories</li>
        <li class="categ-link">&nbsp;&nbsp;Solution Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;AWS Arch slide</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk 3ds Max</li>
        <li class="categ-link">&nbsp;&nbsp;3D Modelers</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk Maya Specialists</li>
        <li class="categ-link">&nbsp;&nbsp;Lumion</li>
        <li class="categ-link">&nbsp;&nbsp;Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk Architecture</li>
        <li class="categ-link">&nbsp;&nbsp;3D Modelers</li>
        <li class="categ-link">&nbsp;&nbsp;Planning and design</li>
      </ul>
    </div>
    <div class="images-container">
      <app-image-group></app-image-group>
      <button class="brand-btn" style="width: fit-content !important">
        More
      </button>
    </div>
  </div>
</div>

<div class="about-us" id="aboutus">
  <div class="about-us__title">
    <h1
      class="h1-online-eng__title"
      style="
        font-family: 'Times New Roman', Times, serif;
        font-size: 4rem;
        text-align: center;
        margin-top: 20px;
      "
    >
      About Us
    </h1>
    <div class="input-group2">
      <p style="width: 300px; margin-left: 203px" class="about-desc">
        Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus
        ultricies velit elementum ut dui sed augue ultrices phasellus
        <span
          style="
            color: #ff9000;
            text-decoration: #ff9000 underline;
            cursor: pointer;
          "
          >ullamcorper condimentum</span
        >
        ut suspendisse viverra ornare sit venenatis
      </p>
      <p style="width: 300px; margin-left: 200px;color: gray;font-family: 'Times New Roman', Times, serif;font-size: 1.2rem;" class="about-desc">
        Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus
        ultricies velit
      </p>
      <br />
      <button class="brand-btn">Read More</button>
    </div>
    <div class="mat-chip__container"></div>
  </div>
</div>
<section>
  <div class="section-container">
    <div>
      <img
        src=".././../assets/image/image 12.png"
        alt="Image"
        class="work-image"
      />
    </div>
    <div style="display: flex; flex-direction: column; gap: 20px; width: 600px">
      <h1
        class="h1-online-eng__title"
        style="
          font-family: 'Times New Roman', Times, serif;
          font-size: 4rem;
          text-align: left;
          margin-top: 30px;
          line-height: normal;
        "
      >
        How It Works
      </h1>
      <div style="display: flex; justify-content: flex-start; gap: 20px">
        <h5 style="font-weight: bold">01</h5>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <h5 style="font-weight: bold">Sign Up</h5>
          <p>
            Join as a Brand or Join as an Influencer and enjoy the benefits of
            quickly collaborating on top projects.
          </p>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-start; gap: 20px">
        <h5 style="font-weight: bold">02</h5>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <h5 style="font-weight: bold">Create Profile</h5>
          <p>
            Follow the easy steps after you sign up to create a unique profile
            that will attract our Brands and Influencers to what you have to
            offer!
          </p>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-start; gap: 20px">
        <h5 style="font-weight: bold">03</h5>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <h5 style="font-weight: bold">For Seller</h5>
          <p>
            Your next step is to start searching our Influencer database for
            your perfect Influencer, and start posting jobs! There are so many
            ways we make sure your campaign is a massive success inside our
            platform. Also, make sure to check out how you can Hire The
            Influence Group to find your perfect influencer for you!
          </p>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-start; gap: 20px">
        <h5 style="font-weight: bold">04</h5>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <h5 style="font-weight: bold">For Buyer</h5>
          <p>
            Your next step is to complete your profile as much as possible!
            Answer all of the questions, create a captivating unique Bio,
            highlight your following and your successes, upload an Intro video
            to introduce you to our brands! And make sure to upload other images
            and videos that highlight you and make you stand out to our brands!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<article>
  <div class="client-images__container">
    <div>
      <img
        src="../../assets/image/client_images.png"
        alt="Client Images"
        width="100%"
        height="auto"
      />
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
      "
    >
      <h2>Our Client</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        provident quas perferendis ex. Perspiciatis eos vero, quam totam dolor
        amet perferendis soluta deserunt et enim. Quam odit officia nulla optio.
      </p>
      <div class="box-container">
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
      </div>
      <h3
        style="
          display: flex;
          align-items: center;
          margin-top: 20px;
          cursor: pointer;
          font-weight: 600;
        "
      >
        See All <mat-icon>arrow_right_alt</mat-icon>
      </h3>
    </div>
  </div>
</article>
<app-why-us></app-why-us>
<app-footer></app-footer>
<loader *ngIf="showLoader"></loader>

