<main>
  <div class="side-container" style="background-color: orange">
    <mat-nav-list>
      <a routerLink="/user-dashboard/home" routerLinkActive="active">
        <mat-list-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
      </a>
      <a routerLink="/user-dashboard/my-profile" routerLinkActive="active">
        <mat-list-item>
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </mat-list-item></a
      >

      <mat-list-item>
        <mat-icon>create</mat-icon>
        <span>Edit Profile</span>
      </mat-list-item>

      <a routerLink="/user-dashboard/profile-history" routerLinkActive="active">
        <mat-list-item>
          <mat-icon>history</mat-icon>
          <span>Profile History</span>
        </mat-list-item></a
      >

      <a routerLink="/user-dashboard/orders" routerLinkActive="active">
        <mat-list-item>
          <mat-icon>shopping_cart</mat-icon>
          <span>Orders</span>
        </mat-list-item>
      </a>

      <a routerLink="/user-dashboard/create-order" routerLinkActive="active">
        <mat-list-item>
          <mat-icon>add_shopping_cart</mat-icon>
          <span>Create Order</span>
        </mat-list-item>
      </a>

      <a routerLink="/user-dashboard/total-payment">
        <mat-list-item>
          <mat-icon>chrome_reader_mode</mat-icon>
          <span>Over View</span>
        </mat-list-item>
      </a>

      <mat-list-item>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon>settings</mat-icon>
        <span>Setting</span>
      </mat-list-item>
    </mat-nav-list>
  </div>
</main>
