<app-header></app-header>
<main>
  <div class="main-container">
    <h2 style="text-align: center; margin-top: 20px">
      Log in to our marketplace
    </h2>
    <div class="social-app">
      <h3 style="font-size: 1.5rem !important">Sign in with:</h3>
      <img
        src=".././../assets/image/logos_facebook.png"
        alt="Facebook"
        style="width: 35px; height: 35px"
      />
      <img
        src=".././../assets/image/flat-color-icons_google.png"
        alt="Google"
        style="width: 35px; height: 35px"
      />
      <img
        src=".././../assets/image/fontisto_apple.png"
        alt="Apple"
        style="width: 30px; height: 35px"
      />
    </div>
    <div class="or-container">
      <p>________________________________</p>
      <p style="font-weight: 700">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p>________________________________</p>
    </div>
    <form>
      <div class="name-email">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" />
        </mat-form-field>

        <button class="signup-btn" mat-button>Login</button>
      </div>

      <p style="margin-top: 20px; margin-bottom: 20px">
        New ti TIG
        <span style="color: #ff9000; font-size: medium">Sign Up</span>
      </p>
      <span
        style="color: #000000; font-size: medium; text-decoration: underline"
        >Forgot Password</span
      >
    </form>
  </div>
</main>
<app-footer></app-footer>
