<app-header></app-header>
<div class="categories-container">
  <p
    style="
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      line-height: 40px;
      font-weight: bold;
      text-align: center;
    "
  >
    Our Top Categories
  </p>
  <div class="picture-side_bar">
    <div class="side-bar">
      <ul>
        <li class="categ-link">&nbsp;&nbsp;All Categories</li>
        <li class="categ-link">&nbsp;&nbsp;Solution Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;AWS Arch slide</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk 3ds Max</li>
        <li class="categ-link">&nbsp;&nbsp;3D Modelers</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk Maya Specialists</li>
        <li class="categ-link">&nbsp;&nbsp;Lumion</li>
        <li class="categ-link">&nbsp;&nbsp;Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;Architecture Design</li>
        <li class="categ-link">&nbsp;&nbsp;Autodesk Architecture</li>
        <li class="categ-link">&nbsp;&nbsp;3D Modelers</li>
        <li class="categ-link">&nbsp;&nbsp;Planning and design</li>
      </ul>
    </div>
    <div class="images-container">
      <app-image-group></app-image-group>
      <button class="brand-btn" style="width: fit-content !important">
        More
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
