main {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.find-brand {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 250px;
}

.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

.checkbox-wrapper-19 input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * 0.1) solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * 0.2);
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * 0.72);
  left: calc(var(--checkbox-height) * 0.41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--background-color);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * 0.37);
  left: calc(var(--checkbox-height) * 0.05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

.find-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans";
}

.brand-btn {
  background-color: #ff9000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans";
}

.social-app {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.or-container {
  display: flex;
}

.name-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name-email__container,
.password-container {
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.cont {
  display: flex;
  align-items: center;
  transform: scale(1);
}

input[type="checkbox"] {
  height: 1.7rem;
  width: 1.7rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: #f2ecff;
  border: 1px solid #797070;
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
}

input[type="checkbox"]::after {
  content: "";
  display: block;
  height: 0.9rem;
  width: 0.4rem;
  border-bottom: 0.31rem solid #a0ffe7;
  border-right: 0.31rem solid #a0ffe7;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 21%;
  transition: 0.25s ease;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  background-color: #00c896;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
}

input[type="checkbox"]:checked::after {
  opacity: 100%;
}

span {
  font-size: 2rem;
}

.captcha-container {
  display: flex;
  align-items: baseline;
  background-color: #ebebeb;
  padding: 5px 10px;
  width: fit-content;
  gap: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.terms-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

mat-checkbox {
  width: 50px;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000000;
  --mdc-radio-disabled-unselected-icon-color: #000000;
  --mdc-radio-unselected-hover-icon-color: #000000;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: #0000008a;
  --mdc-radio-selected-focus-icon-color: #408cff;
  --mdc-radio-selected-hover-icon-color: #408cff;
  --mdc-radio-selected-icon-color: #408cff;
  --mdc-radio-selected-pressed-icon-color: #408cff;
  --mat-radio-ripple-color: #000000;
  --mat-radio-checked-ripple-color: #408cff;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

.signup-btn {
  background-color: #ff9000;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  padding: 10px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content !important;
}

main {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.find-brand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
}

.signup-btn {
  width: 100%;
}

.social-app {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.name-email__container,
.password-container {
  flex-direction: column;
}

.captcha-container {
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (min-width: 600px) {
 
  .main-container {
    width: 60%;
  }

  .find-brand {
    flex-wrap: nowrap;
  }

  .name-email__container,
  .password-container {
    flex-direction: row;
  }

  .captcha-container {
    flex-direction: row;
    align-items: baseline;
  }
}

@media (max-width: 600px) {
  .name-email__container,
  .password-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0%;
  }
}
