.onetimeData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a1a1a1;
  margin: 10px;
}

.view_values {
  display: flex;
  flex-direction: column;
}

h4 {
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin: 0% !important;
}

.user-data {
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 0% !important;
}