<app-header></app-header>
<div class="main-container">
  <app-sidebar></app-sidebar>
  <main>
    <div class="profile-container">
      <div class="img">
        <img src="../../../assets/image/Ellipse 4.png" alt="User Image" />
      </div>
      <div class="profile-detail container">
        <h1
          class="text-center"
          style="
            font-family: Playfair Display;
            font-size: 36px;
            font-weight: 400;
          "
        >
          Tiffany Hardway
        </h1>
        <div class="range-group">
          <p>Inbox response rate</p>
          <span
            style="
              height: 10px;
              width: 100px;
              background-color: #00b998;
              border-radius: 20px;
            "
          ></span>
          <p>100%</p>
        </div>
        <div class="range-group">
          <p>Inbox response time</p>
          <span
            style="
              height: 10px;
              width: 100px;
              background-color: #00b998;
              border-radius: 20px;
            "
          ></span>
          <p>100%</p>
        </div>
        <div class="range-group">
          <p>Order response rate</p>
          <span></span>
          <p>N/A</p>
        </div>
        <div class="range-group">
          <p>Delivered on time</p>
          <span
            style="
              height: 10px;
              width: 100px;
              background-color: #00b998;
              border-radius: 20px;
            "
          ></span>
          <p>100%</p>
        </div>
        <div class="range-group">
          <p>Order completion</p>
          <span
            style="
              height: 10px;
              width: 100px;
              background-color: #00b998;
              border-radius: 20px;
            "
          ></span>
          <p>100%</p>
        </div>
      </div>
    </div>
    <div class="rate-container">
      <div class="total-earning"></div>
      <div class="total-earning"></div>
    </div>
  </main>
</div>
<app-footer></app-footer>
